Library/
Temp/__Backupscenes/0.backup
Temp/UnityVS_obj/Debug/MetropolisD.csproj.FileListAbsolute.txt
Temp/UnityVS_obj/Debug/MetropolisD.Plugins.csproj.FileListAbsolute.txt
Temp/UnityVS_bin/Debug/UnityEngine.xml
Temp/UnityVS_bin/Debug/UnityEngine.VR.xml
Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
Temp/UnityVS_bin/Debug/UnityEngine.HoloLens.xml
Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
Temp/UnityVS_bin/Debug/UnityEditor.xml
Temp/UnityTempFile-fe9eacf1806a875448ae5f96a21d6a2e
Temp/UnityTempFile-fd90028d59c207a4e82a2e1c047e1fa0
Temp/UnityTempFile-fd3500393cbb5ca44b25386195bc6db7
Temp/UnityTempFile-f9474c5c6af643e46b8a7ce911838ab8
Temp/UnityTempFile-f2f056675d26a6c40b6a9653b717d8df
Temp/UnityTempFile-eaf66e212f54a7548a085ea223694962
Temp/UnityTempFile-df0ba8ed19f9377469dc2347602f5120
Temp/UnityTempFile-d914f640063f09b48a548e56fbad8bf9
Temp/UnityTempFile-d5d9af3a1f7c6414f93cde42bbc57de5
Temp/UnityTempFile-d2abdb49fab06fd4ea93d6df277b5e9f
Temp/UnityTempFile-d09bb1ed00fd72c4bba64762d0463222
Temp/UnityTempFile-c68e9256e3a9b3c4e8bf0fd127a8cd46
Temp/UnityTempFile-bed2bd0a00e1c3143bd463e0dfaf0a07
Temp/UnityTempFile-bc8becdc64a610a4392f0f4dcdcb9142
Temp/UnityTempFile-b7210dc29fe57fe4999259c18981a188
Temp/UnityTempFile-ae3428bf9f189bc4386f9bd0becf358b
Temp/UnityTempFile-ad93ccecd4dc795438415779d8ae3956
Temp/UnityTempFile-a8e5bf65f9bc5cb42bddae17a5215374
Temp/UnityTempFile-a2ce201d5a793ca46b7da85d1c69a8d0
Temp/UnityTempFile-9717fc15877d12d4fbeca163e9c9fbd6
Temp/UnityTempFile-928fab517d0caa84a9c935c0e33b4a4d
Temp/UnityTempFile-8b4ef21f87f705345a1b5b452b78f7c4
Temp/UnityTempFile-86a710d06697b0c468ae1fa09c0efbfa
Temp/UnityTempFile-862efc8d43e61f247907e2ee39e3e788
Temp/UnityTempFile-80b193498411dca40adca37b5483c560
Temp/UnityTempFile-76761302007f8e94d87e83b25abb97e4
Temp/UnityTempFile-6f1d050469c35ec408b6d56024f10a21
Temp/UnityTempFile-66f5ad9bf830fdb41a21f730fb3830b6
Temp/UnityTempFile-5c0ee6eda9cbeb34f8b016a786859c1e
Temp/UnityTempFile-56762b0b015c5f546b0ad5b991839119
Temp/UnityTempFile-500780f787457ad4ca4effcdd8de7c35
Temp/UnityTempFile-4f921a6eabba63b49969b00691f8e9e6
Temp/UnityTempFile-4f661e71e19711047a6fcb244c52e81a
Temp/UnityTempFile-4b1acf6c125ade64dbc179440e199e88
Temp/UnityTempFile-4a51430296d2e9d4ea101d03a993052d
Temp/UnityTempFile-49af4fafcbce2e640869c04dfa2900bd
Temp/UnityTempFile-4139f04032bdde04c8de482be179c29f
Temp/UnityTempFile-27409cb04f0d85e44a387fe11c7fd458
Temp/UnityTempFile-267206c09d959364495d1b7479541aeb
Temp/UnityTempFile-247a8bbe48511664aa785b29210bef6b
Temp/UnityTempFile-1e046322176327d409fc7eb52c4472c7
Temp/UnityTempFile-155433fe691033a46b63c0470206af6b
Temp/UnityTempFile-146f25886369c294d9e2480cc3e74703
Temp/UnityTempFile-0f334a8444bcd4e4782866c713804695
Temp/UnityTempFile-0d969bcc2d9191948a688e0e0a40e904
Temp/UnityTempFile-09dd292eb28766f4883cfa3e63c14dd2
Temp/UnityTempFile-03c1c612246338f438073e7cca2bace8
Temp/UnityTempFile-00d0d6d7723c0144084badb6117b54d5
Temp/UnityTempFile-00cb9e4d7344b6547aa84227fc96f9b6
Temp/UnityLockfile

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Crashlytics generated file
crashlytics-build.properties
